{% extends "header.html" %}

{% block body %}

<body>
    <div class = "container">
        <h1>Dashboard</h1>
        <form action="{{ url_for('search') }} method="post">
            <input type="text" placeholder="ISBN" name="isbn"><br>
            <input type="text" placeholder="Title" name="title"><br>
	    <input type="text" placeholder="Author" name="author"><br>
	    <input type="text" placeholder="Year" name="year"><br>
            <button type="submit">Search</button>
        </form>
    </div>
    <table border="1" cellpadding="5" cellspacing="5">
    {% for row in data %}
        <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>

{% endblock %}
