<!doctype html>
<html>
    <head>
        <title>Review system</title>  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default" style="background-color: #286090; position: fixed; z-index: 100; width: 100%">
            <div class="container-fluid" style="margin-top:15px;">
                <a href="{{ url_for('index') }}" class="col-xs-1 col-xs-offset-9" style="color:white;font-family: Helvetica;">Home</label>
                {% if session['logged_in'] %}
                    <a href="{{ url_for('dashboard') }}" class="col-xs-1" style="color:white;font-family: Helvetica;">Dashboard</a>
                    <a href="{{ url_for('logout') }}" class="col-xs-1" style="color:white;font-family: Helvetica;">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="col-xs-1" style="color:white;font-family: Helvetica;">Login</a>
                    <a href="{{ url_for('register') }}" class="col-xs-1" style="color:white;font-family: Helvetica;">Register</a>
                {% endif %}
            </div>
        </nav>
        <br><br><br>
        {% block body %}
        {% endblock %}
  </body>
</html>
