<!DOCTYPE html>
<html>  
  <head>
    <title>Review system</title>
  </head>
  <body>
    <h1>Welcome to book review system</h1>
    <div class="topbar">
      <a class="active" href="#index">Home</a>
      <a href="#about">About</a>
      <div class="login">
        <form action="{{ url_for('dashboard') }} method="post">
	  <input type="text" placeholder="Username" name="username">
	  <input type="text" placeholder="Password" name="passwd">
	  <button type="submit">Login</button>
	</form>
      </div>
    </div>
    <a href="register.html">Register Here!</a>
   </form>
  </body>
</html>
  
