{% extends "header.html" %}
    {% block body %}
    <div class="container">
        <h1>Enter your credentials!</h1>

        <form action="{{ url_for('login') }}" method="POST" class="col-xs-5">
            <div class="form-group row">
                <input type="text" class="form-control" id="username" placeholder="Username" name="username">
            </div>
            <div class="form-group row">
                <input type="password" class="form-control" id="passwd" placeholder="Password" name="passwd">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Log In</button>
        </form>
    </div>
{% endblock %}
